<app-bread-crumb [items]="[{ text: 'Administrativo' }, { text: 'Cédula C' }]"></app-bread-crumb>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="card card-outline card-green col-md-12">
        <div class="card-header">
          <h3 class="card-title mb-0">
            <i class="fa fa-address-card" aria-hidden="true"></i>
            Cédula C
          </h3>
        </div>

        <div class="card-body p-2">
          <form [formGroup]="cedulaCForm" novalidate>
            <div class="form-group ml-5 mr-5 mt-2">
              <label>Matrícula</label>
              <select
                class="form-control"
                formControlName="matricula"
                [ngClass]="{
                  'is-invalid': cedulaCForm.controls['matricula'].invalid && cedulaCForm.controls['matricula'].touched
                }"
              >
                <ng-container *ngFor="let matricula of matriculas">
                  <option value="{{ matricula.matricula }}">
                    {{ matricula.matricula }}
                  </option>
                </ng-container>
              </select>
            </div>
            <div class="form-group ml-5 mr-5">
              <label>Ano</label>
              <select
                class="form-control"
                formControlName="ano"
                [ngClass]="{
                  'is-invalid': cedulaCForm.controls['ano'].invalid && cedulaCForm.controls['ano'].touched
                }"
              >
                <ng-container *ngFor="let ano of anos">
                  <option value="{{ ano }}">
                    {{ ano }}
                  </option>
                </ng-container>
              </select>
            </div>
          </form>
        </div>
        <div class="card-footer mt-2 mb-2 ml-1 mr-1">
          <button type="button" class="btn btn-primary" [disabled]="cedulaCForm.invalid">
            <i class="fas fa-print"></i> Imprimir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
