<div class="login-container bg-light">
  <div class="login-box">
    <h1 translate>
      <img src="../../assets/img/logoautovalor.svg" style="max-width: 250px; margin-right: 15px;" />
    </h1>
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <h4 class="card-title" style="margin-left: 205px;">
            <i class="far fa-3x fa-user-circle text-muted"></i>
          </h4>
          <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <div class="alert alert-danger" [hidden]="!error" translate>Usuário ou senha incorretos.</div>
            <div class="form-group">
              <label class="d-block">
                <input
                  type="text"
                  class="form-control"
                  formControlName="email"
                  autocomplete="email"
                  [placeholder]="'E-mail' | translate"
                />
              </label>
              <label class="d-block">
                <input
                  type="password"
                  class="form-control"
                  formControlName="senha"
                  autocomplete="current-senha"
                  [placeholder]="'Senha' | translate"
                  required
                />
              </label>
            </div>
            <div>
              <button
                class="btn btn-primary disabled mr-4"
                type="submit"      
              >
                <i class="fas fa-cog"></i>
                <span translate>Entrar</span>
              </button>

              <button class="btn btn-primary mr-4" routerLink="/registrar-usuario">
                <i class="fas fa-user-secret"></i>
                <span translate>Criar Conta</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
