.card {
  margin-bottom: 0px;
}

.card-body {
  min-height: 200px;
}

.mat-column-selecao {
  padding-top: 8px;
  width: 60px;
}

.mat-column-id {
  width: 80px;
}

.table-container {
  min-height: 210px;
  width: 100%;
}
