mwl-confirmation-popover-window {
  .popover-header {
    margin-bottom: 4px;
    padding: 4px 8px 4px 8px;
  }

  .popover-content {
    padding: 4px 8px 4px 8px;

    button {
      padding: 4px 8px 4px 8px;
    }
  }
}
